/* Import Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

/* Define CSS Variables */
:root {
  --primary-color: #1D263B;
  --secondary-color: #157F1F;
  --accent1-color: #5C6784;
  --accent2-color: #4CB963;

  --heading-font: 'Open Sans', sans-serif;
  --paragraph-font: 'Poppins', sans-serif;

  --nav-background-color: #157F1F;
  --nav-link-color: #1D263B;
  --nav-hover-link-color: #5C6784;
  --nav-hover-background-color: #d78521;
}

/* Body Selector Rule */
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Headings Grouping Selector */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #d78521/* Your choice of heading color */;
}

/* Header Selector */
header {
  padding: 20px;
  background-color: var(--primary-color); /* Use your selected color for the header background */
}

/* Paragraph Selector */
p {
  padding: 10px; /* Adjust padding as needed */
}

/* Navigation Selector and Anchor Tag Children */
nav {
  background-color: var(--nav-background-color);
}

nav a {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
