@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: #9b1111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea,
input[type="text"],
select,
input[type="number"] {
    width: 100%;
}
